.container1 {
  margin-top: 80px;
  text-align: justify;
}

/***Vikash Singh****/

.ror_image{
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.font2 {
  font-size: 24px;
  margin-top: 20px;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.col {
    display: block;
    float: left;
    background: #2d81b9;
}

.color{
	color: #ffffff !important;
}

.text-height{
  padding-top: 20px;
}

.text-height1{
  padding-top: 8px;
}

.font1{
  font-size: 16px !important;
}

.padding1 {
  padding-bottom: 5px;
}

.margin5 {
  margin-top: 10px;
}

.padding2 {
  padding-bottom: 18px;
}
.padding5{
  padding-top: 10px;
}

.padding3 {
  padding-bottom: 30px;
}

.padding-top3{
  padding-top: 30px;
}

.padding-top4{
  padding-top: 40px;
}

.box1{
  width: 66px;
  height: 45px;
  float: right;
  display: block;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  /*color: #a3a3a3;*/
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.comment{
  width: 66px;
  height: 45px;
  float: right;
  display: block;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #a3a3a3;
  text-align: center;
}

.text-color{
  margin-top: 0px;
  color: #0050AA;
}
/*
.text-color1{
  color:rgb(26,77,130);
}
*/
.animated1 {
  visibility: visible;
  animation-duration: 1000ms;
  animation-delay: 300ms;
  animation-name: fadeInRightBig;
}
/*/kiran purbey/*/

.text-color p {
  text-align: justify;
}
.images{height:70%;
  width:70%;
  cursor:pointer;
  float:right;
}

/*
.images:hover{height:75%!important;
    width: 75%!important;
     transition: all 1s ease 0s !important;
  }
*/
/*Vikash Singh*/

.image{
  height:auto;
  /*width:auto;*/
  -moz-transition:-moz-transform 0.5s ease-in; 
  -webkit-transition:-webkit-transform 0.5s ease-in; 
  -o-transition:-o-transform 0.5s ease-in;
}
.image:hover{
  -moz-transform:scale(1.1); 
  -webkit-transform:scale(1.1);
  -o-transform:scale(1.1);
}

.font3 {
  font-size: 18px;
  font-family: serif;
}

.margin-auto{
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin2 {
  margin-top: 15px;
}

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control2 {
    display: block;
    width: 100%;
    height: 34px;
    padding: -1px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  
}
.float_right{
  float: right;
  height: 40px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 0px;
  border-radius: 0px;
}

.links{
  margin-bottom: 10px;
  padding: 9px 0px;
  overflow: hidden;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
  
.sub-heading{
  color: #404040;
  font-size: 16px;
}

.image-width{
  width: 100%;
  height: 145px;
}

.tag_custom_error{
  color: red;
}

/*Vikash Singh*/
.contact-btn {
  position: fixed;
  top: 48%;
  z-index: 9999;
  margin-left: -65px;
  /*transform: translate(0, -50%);*/
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (max-width: 767px){
  .container{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }

}

.border {
  /*border: 2px solid #CDCBCB;
  border-radius: 20px;*/
  margin-top: 5px;
  text-align: center;
}

.img1 {
  border: 2px solid #ddd;
  border-radius: 4px;
}

.list-lining{
  padding-top: 20px;
  border-bottom: 1px solid #8C929B ;
}

.list-label{
  color: #8C929B;
  font-size: 12px;
}

.img-size{
  max-width: 80px;
}

/*Vikash Singh*/
.crop { 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  width: 100%; 
}​

